body{
  font-family: "Gill Sans", sans-serif;
  margin: 0;
}
  h1{
    font-size: 60px;
  }
  .green-color{
    color: rgb(160, 51, 0);
  }
  .flexible-container{
    display: flex;
    margin-bottom: 150px;
  }

  .Link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 20px;
  }
  .Half-Width{
  width: 50%;
  padding: 2%;
  } 
   .Half-Width img{
    width: 80%; 
   }
  .Half-Width2{
    width: 50%;
    padding-left: 10.48%;
  } 
  .Half-Width2 img{
    width: 50%;
  }
  .top-banner{
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
   }  
  .title{
    font-size: 20px;
    border-right: 5%;
    text-align: left;
   }
   .title-recipies{
     text-align: center;
   }
  .recipies-area{
    text-align: left;
  }
  #Recipies-Title{
    border: 5px 5px 20px;
    border-image: green;
    border-image-slice: 1;
  }
  #recipies-title p{
    font-size: 20px;
    border-right: 5%;
    text-align: left;
  }
  .recipies-area img{
    width: 100%;
  }
  .pragraph{
    text-align: left;
  }
 .recipies-item{
  width: 25%;
  margin-left: 5%;
  margin-right: 0%;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 10px 10px 50px rgb(190, 190, 190);
 }
 .fotter-title{
  font-size: 20px;
  border-right: 5%;
  text-align: center;
  margin: 10px 10px 20px;
  background-color: black;
  margin: 0;
 }
 .fotter-title-color{
   color: whitesmoke;
 }

